.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  height: 100%;
}
nav {
  display: none;
}
.layout_container {
  display: grid;
  grid-template-columns: 15% 85%;
}
.layout_container main {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 20px;
  transition: .3s linear;
}
.layout_container aside  {
  padding: 20px 0;
  background-color: #000626;
  height: 100%;
  position: relative;
}
.layout_container aside .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  padding: 20px 0;
  min-height: 100vh;
  background-color: #000626;
}
.layout footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  min-height: 30px;
}
/* Start Design Asidebar */
aside a {
  color: #fff;
}
aside .logo {
  margin-bottom: 50px;
  column-gap: 20px;
  padding:  0 20px;
  align-items: center;
}
aside ul {
  flex-direction: column;
  row-gap: 20px;
}
aside ul li {
  width: 100%;
}
button.toggle_theme,
aside ul a {
  opacity: 50%;
  transition: .3s ease-in-out;
  column-gap: 8px;
  padding: 10px 20px;
  padding-right: 0;
}
aside ul a.active {
  opacity: 1;
  background-color: var(--blue-light-color);
  color: var(--dark-color);
  padding-left: 30px;
}
button.toggle_theme {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 20px;
  margin-left: 20px;
  border-radius: 50px;
  font-size: 18px;
  width: 70px;
  position: relative;
  opacity: 1;
  height: 30px;
  cursor: pointer;
  transition: .3s linear;
  background-color: var(--blue-light-color);
}
button.toggle_theme span {
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 1;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: .5;
}
button.toggle_theme span:nth-child(2) {
  left: auto;
  right: 0px;
}
button.toggle_theme.dark span.dark,
button.toggle_theme.light span.light {
  color: var(--dark-color);
  opacity: 1 !important;
}
button.toggle_theme .bullet {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #168693;
  transition: .3s linear;
  z-index: 1;
}
button.toggle_theme.dark .bullet {
  transform: translateX(calc(100% + 10px));
}
button.toggle_theme.light .bullet {
  transform: translateX(0);
}
/* End Design Asidebar */

/* Start Min-Laptops Design */
@media(max-width: 1400px) {
  aside ul a {
    font-size: 14px;
  }
}
@media(max-width: 1200px) {
  aside ul a.active {
    padding-left: 20px;
  }
}
/* End Min-Laptops Design */
/* Start tablets Design */
@media(max-width: 991px) {
  nav {
    display: block;
    width: calc(100% - 20%);
    z-index: 1;
    min-height: 55px;
    background: var(--dark-color);
    display: flex;
    padding: 0 11px;
    position: fixed;
    margin: 0 auto;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    column-gap: 20px;
    transition: .3s linear;
  }
  nav.showMenu {
    width: calc(100% - 48px);
  }
  nav .logo {
    color: #fff;
  }
  aside .logo span {
    display: none;
  }
  nav .menuBtn {
    z-index: 2;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    transition: .3s linear;
    background-color: var(--blue-light-color);
    padding: 6px;
    border-radius: 6px;
    width: 30px;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  nav .menuBtn.showMenu {
    height: 30px;
    border-radius: 50%;
    row-gap: 0;
  }
  nav .menuBtn span {
    width: 100%;
    height: 2px;
    background-color: var(--dark-color);
    transition: .3s linear;
  }
  nav .menuBtn.showMenu span:nth-child(2) {
    opacity: 0;
  }
  nav .menuBtn.showMenu span {
    width: calc(100% - 8px);
    position: absolute;
    transform: rotate(45deg);
  }
  nav .menuBtn.showMenu span:nth-child(3){
    transform: rotate(-45deg);
  }
  .layout_container {
    display: flex;
    margin-top: 67px;
  }
  .layout_container aside {
    position: fixed;
    top: 79px;
    left: 24px;
    width: 40%;
    padding: 0;
    width: 0;
    overflow: hidden;
    transition: .3s linear;
    border-radius: 6px;
    min-height: auto;
    height: auto;
    z-index: 10;
    height: calc(100vh - 91px);
    padding: 20px 0;
  }
  .layout_container aside .sidebar {
    position: relative;
    width: 100%;
    padding: 0;
    min-height: auto;
    overflow: hidden;
    transition: .3s linear;
  }
  .layout_container aside.showMenu {
    width: calc(40% - 24px);
  }
  .layout_container main.showMenu {
    width: 60%;
    margin-left: 40%;
    padding: 24px;
  }
  .layout_container main {
    width: 100%;
    overflow: hidden;
    padding: 24px 10%;
  }
  aside ul a {
    padding: 10px 0 10px 10px;
    /* font-size: 12px; */
    column-gap: 6px;
  }
  aside ul a.active {
    padding: 10px 0 10px 10px;  
  }
}
/* End Tablets Design */
/* start Mobile Design */
@media(max-width: 600px) {
  nav.showMenu,
  nav {
    width: calc(100% - 24px);
  }
  .layout_container main.showMenu,
  .layout_container main {
    padding: 12px;
  }
  .layout_container aside {
    left: 12px;
  }
  .layout_container aside.showMenu {
    width: calc(40% - 12px);
  }
}
@media(max-width: 375px) {
  .layout_container aside.showMenu {
    width: calc(100% - 24px);
  }
  .layout_container main.showMenu {
    width: 100%;
    margin-left: 0;
  }
}
/* End Mobile Design */